<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>

<a href="/">Главная</a>

<form th:method="POST" th:action="@{/book/new}" th:object="${book}">
    <label for="name">Введите название книги:</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="author">Введите имя автора:</label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br>
    <label for="yearOfPublishing">Введите год публикации:</label>
    <input type="text" th:field="*{yearOfPublishing}" id="yearOfPublishing">
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublishing')}" th:errors="*{yearOfPublishing}"></div>
    <br>
    <input type="submit" value="Создать книгу">
</form>
</body>
</html>