<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить пароль</title>
</head>
<body>

    <a href="/">Главная</a>

    <form th:method="PATCH" th:action="@{/people/{id}/edit/password(id=${person.getId()})}" th:object="${person}">

        <p th:text="'Имя пользователя: ' + ${person.getUsername()}"></p>
        <input type="hidden" th:field="*{username}" id="username">


        <label for="old_password">Введите старый пароль:</label>
        <input name="old_password" type="text" id="old_password">

        <br>

        <label for="password">Введите новый пароль:</label>
        <input type="text" name="password" id="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

        <br>

        <input type="submit" value="Редактировать данные">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p style="color:red" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div class="hidden">
            <input type="hidden" th:field="*{fullName}" id="fullName">
            <input type="hidden" th:field="*{yearOfBirth}" id="yearOfBirth">
            <input type="hidden" th:field="*{role}" id="role">
        </div>

    </form>

</body>
</html>